$include-ie: false;
$enable-font-awesome: dynamic(true);

$enable-font-open-sans: dynamic(false);

/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v15-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v15-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v15-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v15-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v15-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v15-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v15-latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}


$font-family: dynamic('Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif);
$font-weight-normal: dynamic(400);
$font-weight-bold: dynamic(500);
$font-size: dynamic(14px);
$button-small-font-size: 14px;

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 50px;
$panel-navigation-item-text-color: #ADB3B8;

$progress-bar-background-color: #458fd2;

//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-orange: #ffc107;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

$chart-icon-background-color: #f1f1f1;

$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;
$legend-research: #6aa5db;
$legend-marketing: #ee929c;

$force-background-color: #56B750;

$form-field-invalid-background-color: rgba(255, 0, 0, 0.05);

//----------------------------------------------------
// Wizards

$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;

