Sehr geehrte Dame, sehr geehrter Herr<br>
<br>
Ihr Passwort in der Starter Applikation wurde zurückgesetzt. <br>
Um das Passwort zu ändern, klicken Sie auf diesen Link: <br>
<a href="{{{link}}}">{{link}}</a><br>
<br>
Ihre Benutzer Name lautet: {{{loginName}}}<br>
<br>
Bitte nicht auf dieses E-Mail antworten!<br>
<br>
Mit freundlichen Grüssen<br>
Administration