Dear Madam, dear Sir<br>
<br>
Your password has been reset in the Starter application.<br>
To change the password click this link:<br>
<a href="{{{link}}}">{{link}}</a><br>
<br>
<br>
Your Login Name is: {{{loginName}}}<br>
<br>
Please do not reply to this e-mail!<br>
<br>
With best regards<br>
Administration