
.auth-dialog {

    .trigger-glyph-noop {
        cursor:default;
    }
    .x-form-trigger{
        text-align:right;
        width:50px;
    }
    .password-trigger,
    .auth-email-trigger,
    .auth-password-trigger,
    .auth-envelope-trigger{
        &:before{
            top: 10px;
            left:-18px;
            position: relative;
            color: $dialog-trigger-color;
            font-size: 30px;
        }

        &.password-trigger:before,
        &.auth-password-trigger:before{
            content: "\f023";
        }
        &.auth-email-trigger:before{
            content: "\f007";
        }
        &.auth-envelope-trigger:before{
            content: "\f0e0";
        }
    }

    .verificationcode {
         .x-form-text {
        	font-size: 20px;
         }
    }

    .link-forgot-password {
        line-height:32px;
        color: $base-color;
        text-decoration:none;
        margin-left:5px;
        cursor: pointer;
        &:hover{
            text-decoration:underline;
        }
    }

    .x-btn{
        .x-btn-icon-el{
            &:before{
                right: 10px;
                font-size: 24px;
                position: absolute;
            }
        }
    }

    .auth-login-button .x-fa,
    .auth-resetpassword-button .x-fa{
        font-size: 32px;
        right: 11px;
        top:10px;
        line-height: 16px;
    }

    .outer-div{
        width:100%;
        text-align: center;
        &:after{
            content: " ";
            width:100%;
            height: 1px;
            background-color: $blank-page-color;
            position:absolute;
            left: 0;
            top: 9px;
        }
    }
}
