::-ms-clear {
   display: none;
}

::-ms-reveal {
   display: none;
}

::-webkit-input-placeholder { 
   color: lighten($form-text-field-color, 60%);
}

:-moz-placeholder { 
   color: lighten($form-text-field-color, 60%);
}

::-moz-placeholder {
   color: lighten($form-text-field-color, 60%);
}

:-ms-input-placeholder {
   color: lighten($form-text-field-color, 60%);
  opacity: 0.4;
}

::-ms-input-placeholder {
  color: lighten($form-text-field-color, 60%);
  opacity: 0.4;
}

:placeholder-shown {
  color: lighten($form-text-field-color, 60%);
}

@mixin btn-border($background-color){
  background-color: $background-color;
  border-color: $background-color !important;
  .x-btn-inner-default-toolbar-small{
    color: $lightest-color;
  }
  &:hover{
    .x-btn-inner-default-toolbar-small,.x-btn-inner-default-small{
      color: $background-color;
    }
    .x-btn-icon-el-default-small,.x-btn-icon-el-default-toolbar-small{
      color: $background-color;
    }
    background-color: transparent;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  $value: $h-shadow, $v-shadow, $blur, $spread, $shadow-color;
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  box-shadow: $value;
}

*:focus {
  outline:0 !important;
}

.x-menu-header {
  z-index: 0 !important;
}

.x-css-shadow{
  box-shadow:none !important;
}

.x-fa {
  display: inline-block;
  font: normal normal normal 14px/1 $font-family;
}

.navigation-title {
  font-size: 17px !important;
}